

{% extends "templates/web.html" %}

{% block page_content %}
<div class="container mt-5">
  <h2 class="mb-4">Library Dashboard</h2>

  <nav>
    <h4><a href="members/member_list.html">Members</a></h4>
  </nav>

  <div class="row text-center mb-4">
    <div class="col-md-3"><div class="card p-3 shadow-sm"><h5>Members</h5><h2>{{ total_members }}</h2></div></div>
    <div class="col-md-3"><div class="card p-3 shadow-sm"><h5>Books</h5><h2>{{ total_books }}</h2></div></div>
    <div class="col-md-3"><div class="card p-3 shadow-sm"><h5>Fines</h5><h2>{{ total_fines }}</h2></div></div>
    <div class="col-md-3"><div class="card p-3 shadow-sm"><h5>Transactions</h5><h2>{{ total_transactions }}</h2></div></div>
  </div>

  <!-- <h4>Library Members</h4>
  <table class="table table-striped mt-2 mb-5">
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Mobile</th><th>Start</th><th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for m in members %}
      <tr>
        <td>{{ m.name }}</td>
        <td>{{ m.name1 }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.mobile_no }}</td>
        <td>{{ m.membership_start_date }}</td>
        <td>{{ m.membership_end_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->

  <h4>Books</h4>
  <div class="bg-dark w-auto h-45 rounded">
    <div class="container m-4 p-4 flex justifiy-center gap-2">
        {% for b in books %}
        <div class="card m-4 p-4 bg-light w-25 text-center">
            <img src="{{ b.cover_image }}" alt="{{ b.name }} " class="vh-25 rounded ">
            <h5 class="p-4">{{ b.name }}</h5>
            <p>{{ b.author }}</p>
            <p>{{ b.publisher }}</p>
            <p>{{ b.available_copies }}</p>
            <p>{{ b.status }}</p>
            <div>
                <button class="btn btn-primary"><a href="/book-issue" class="text-white">Get Book</a></button>
            </div>


        </div>
        {% endfor %}
    </div>
  </div>

  <!-- <h4>Fines</h4>
  <table class="table table-striped mt-2 mb-5">
    <thead>
      <tr>
        <th>ID</th><th>Member</th><th>Book</th><th>Amount</th><th>Reason</th><th>Date</th><th>Paid</th>
      </tr>
    </thead>
    <tbody>
      {% for f in fines %}
      <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.member }}</td>
        <td>{{ f.book }}</td>
        <td>{{ f.amount }}</td>
        <td>{{ f.reason }}</td>
        <td>{{ f.date_of_fine }}</td>
        <td>{% if f.paid %}✅{% else %}❌{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->

  <!-- <h4>Membership Transactions</h4>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>ID</th><th>Member</th><th>Start</th><th>End</th><th>Paid</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transactions %}
      <tr>
        <td>{{ t.name }}</td>
        <td>{{ t.member }}</td>
        <td>{{ t.start_date }}</td>
        <td>{{ t.end_date }}</td>
        <td>{% if t.paid %}✅{% else %}❌{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->
</div>
{% endblock %}
